@import "../../style/index";

.nav-content {
  .nav-header {
    width: 86%;
    padding: 11px 0 36px 0;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 18px;
      height: 18px;
    }
    &-left {
      img {
        width: 38px;
        height: 38px;
      }
    }

    h3 {
      color: #ffffff;
      font: normal normal bold 20px/24px Montserrat;
      margin: 0;
    }
  }
  nav {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: 113px;
    ul {
      list-style-type: none;
    }

    li {
      margin-left: 18px;
      margin-right: 18px;
      text-align: center;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 2;
      font-size: 16px;
      cursor: pointer;
    }
    li:hover {
      transition: all ease-in-out 0.3s;
      font-weight: 600;
    }
    img {
      cursor: pointer;
    }
  }
  nav:hover {
    margin-top: auto;
    margin-bottom: auto;
    background: #0000005d;
    width: 100%;
    height: 113px;
    transition: all ease-in-out 0.5s;
  }
  .banner-content {
    position: absolute;
    bottom: 40%;
    left: 10%;
    display: flex;
    .line {
      margin: 20px 10px;
      width: 70px;
      height: 6px;
      border-bottom: 2px solid #fff;
    }
    h2 {
      font-family: "Jost", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 11px;
    }
    p {
      font-size: 14px;
      margin-bottom: 25px;
      color: #efeeee;
    }

    @media (max-width: 700px) {
      bottom: 63%;
      left: 8%;
      width: 100%;
      padding: 20px 10px;
      .line {
        display: none;
      }
      h1,
      p {
        display: none;
        color: #000;
      }
    }
  }
}
