.link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  padding: 0 1px;
  transition: color ease 0.3s;
  cursor: pointer;
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    height: 1px;
  }

  &::before {
    width: 0%;
    left: 0;
    bottom: 0;
    transition: width ease 0.4s;
  }

  &::after {
    width: 100%;
    left: 0;
    bottom: 0;
    transition: all ease 0.6s;
  }

  &:hover {
    &::before {
      width: 100%;
    }

    &::after {
      left: 100%;
      width: 0%;
      transition: all ease 0.2s;
    }
  }
  &-white {
    color: #fff;
    &::before,
    &::after {
      background-color: #fff;
    }
  }
  &-black {
    color: #000;
    &::before,
    &::after {
      background-color: #000;
    }
  }
}
